<div class="header-top">
    <div class="logo">
        <a href="/"><img src="/static/images/logo.png" alt=""/></a>
    </div>
    <div class="header_right">
        <ul class="social">
            <li><a href=""><i class="fb"> </i> </a></li>
            <li><a href=""><i class="tw"> </i> </a></li>
            <li><a href=""><i class="utube"> </i> </a></li>
            <li><a href=""><i class="pin"> </i> </a></li>
            <li><a href=""><i class="instagram"> </i> </a></li>
        </ul>
        <div class="lang_list">
            <select tabindex="4" class="dropdown">
                <option value="" class="label" value="">En</option>
                <option value="1">English</option>
                <option value="2">French</option>
                <option value="3">German</option>
            </select>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>